node-red flow smartlink to lora two channels status.txt
[{"id":"c2c0175f.012008","type":"mqtt in","z":"e5216297.b6b99","name":"","topic":"smartlink_to_lora/devices/87654321/up","qos":"2","datatype":"auto","broker":"73d52023.5f372","x":230,"y":100,"wires":[["70fef323.c1100c","1e5aec39.ed1904"]]},{"id":"70fef323.c1100c","type":"function","z":"e5216297.b6b99","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["25818b30.58eb14","4616045.f5a82fc","f5a9047c.311c48"]]},{"id":"25818b30.58eb14","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":400,"wires":[]},{"id":"39dfcae.c1be236","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"4616045.f5a82fc","type":"function","z":"e5216297.b6b99","name":"Leakage breaker status","func":"var a = msg.payload;\nmsg.payload=a.breaker_status;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["39dfcae.c1be236","1d30199e.0db216"]]},{"id":"2a7d9c5b.d788f4","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"6133b716.07cbd8","x":860,"y":160,"wires":[]},{"id":"1e5aec39.ed1904","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":60,"wires":[]},{"id":"1d30199e.0db216","type":"function","z":"e5216297.b6b99","name":"3=ON 2=OFF","func":"var a=msg.payload;\nif (a==3)\n{msg.payload=1}\nelse if (a==2)\n{msg.payload=0}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["2a7d9c5b.d788f4","73e5260a.c22f58"]]},{"id":"73e5260a.c22f58","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"17ed7a1f.50f886","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":420,"wires":[]},{"id":"f5a9047c.311c48","type":"function","z":"e5216297.b6b99","name":"Remote breaker status","func":"var a = msg.payload;\nmsg.payload=a.remote_status;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["17ed7a1f.50f886","bb5cac4e.c731b"]]},{"id":"69b4a118.77a83","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"","retain":"","broker":"6133b716.07cbd8","x":890,"y":320,"wires":[]},{"id":"bb5cac4e.c731b","type":"function","z":"e5216297.b6b99","name":"3=ON 2=OFF","func":"var a=msg.payload;\nif (a==3)\n{msg.payload=1}\nelse if (a==2)\n{msg.payload=0}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["69b4a118.77a83","ca939831.2d64c8"]]},{"id":"ca939831.2d64c8","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":420,"wires":[]},{"id":"73d52023.5f372","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6133b716.07cbd8","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]