node-red flow smartlink to lora control fron node-red.txt
[{"id":"28a8a235.87880e","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"smartlink_to_lora/devices/87654321/down","qos":"","retain":"","broker":"73d52023.5f372","x":980,"y":560,"wires":[]},{"id":"24164d53.93c282","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":560,"wires":[["28a8a235.87880e"]]},{"id":"3746bfb2.f8d5f","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["24164d53.93c282"]]},{"id":"da4504a2.2d1ad8","type":"inject","z":"e5216297.b6b99","name":"","topic":"","payload":"hola","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["3746bfb2.f8d5f"]]},{"id":"dbf2a241.9c335","type":"function","z":"e5216297.b6b99","name":"AF?03?01?06?01?06?37?79?00?01?00    ","func":"var b = new Buffer(11);\nb=[0xAF,0x03,0x01,0x06,0x01,0x06,0x37,0x79,0x00,0x01,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["f3173cac.e5a1f","abae706.cfe1f9"]]},{"id":"3e74bb1d.7dc654","type":"inject","z":"e5216297.b6b99","name":"Open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":660,"wires":[["dbf2a241.9c335"]]},{"id":"8c3d7db.82b4b8","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":660,"wires":[]},{"id":"f3173cac.e5a1f","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":700,"wires":[["ddaf4183.a730a","683f8446.b2465c"]]},{"id":"ddaf4183.a730a","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":680,"wires":[["8c3d7db.82b4b8","28a8a235.87880e"]]},{"id":"abae706.cfe1f9","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":620,"wires":[]},{"id":"683f8446.b2465c","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":740,"wires":[]},{"id":"b7239e4.19d756","type":"function","z":"e5216297.b6b99","name":"AF?03?01?06?01?06?37?79?00?02?00 ","func":"var b = new Buffer(11);\n//b[0]=0xAF;\n//b[1]=3;\nb=[0xAF,0x03,0x01,0x06,0x01,0x06,0x37,0x79,0x00,0x02,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":780,"wires":[["d01df194.396e3","82690894.a697a8"]]},{"id":"60c9b4b7.a9377c","type":"inject","z":"e5216297.b6b99","name":"Close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["b7239e4.19d756"]]},{"id":"7ad08e23.5b9cd","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":820,"wires":[]},{"id":"d01df194.396e3","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":820,"wires":[["18601d66.420ee3","3f193b4a.e1adf4"]]},{"id":"18601d66.420ee3","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":820,"wires":[["7ad08e23.5b9cd","28a8a235.87880e"]]},{"id":"82690894.a697a8","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":780,"wires":[]},{"id":"3f193b4a.e1adf4","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":900,"wires":[]},{"id":"75d215d4.b7479c","type":"comment","z":"e5216297.b6b99","name":"SCHNEIDER SMARTLINK REMOTE CONTROL","info":"","x":240,"y":500,"wires":[]},{"id":"73d52023.5f372","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]