node-red flow smartlink to lora leakage breaker status one channel.txt
[{"id":"c2c0175f.012008","type":"mqtt in","z":"e5216297.b6b99","name":"","topic":"smartlink_to_lora/devices/87654321/up","qos":"2","datatype":"auto","broker":"73d52023.5f372","x":270,"y":100,"wires":[["70fef323.c1100c","1e5aec39.ed1904"]]},{"id":"70fef323.c1100c","type":"function","z":"e5216297.b6b99","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["25818b30.58eb14","4616045.f5a82fc"]]},{"id":"25818b30.58eb14","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":280,"wires":[]},{"id":"39dfcae.c1be236","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":240,"wires":[]},{"id":"4616045.f5a82fc","type":"function","z":"e5216297.b6b99","name":"Leakage breaker status","func":"var a = msg.payload;\nmsg.payload=a.breaker_status;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["39dfcae.c1be236","1d30199e.0db216"]]},{"id":"2a7d9c5b.d788f4","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"6133b716.07cbd8","x":880,"y":120,"wires":[]},{"id":"1e5aec39.ed1904","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":60,"wires":[]},{"id":"1d30199e.0db216","type":"function","z":"e5216297.b6b99","name":"3=ON 2=OFF","func":"var a=msg.payload;\nif (a==3)\n{msg.payload=1}\nelse if (a==2)\n{msg.payload=0}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["2a7d9c5b.d788f4","73e5260a.c22f58"]]},{"id":"73e5260a.c22f58","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":200,"wires":[]},{"id":"73d52023.5f372","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6133b716.07cbd8","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]