node-red flow smartlink to lora control fron mobile App IoT On Off.txt
[{"id":"c2c0175f.012008","type":"mqtt in","z":"e5216297.b6b99","name":"","topic":"smartlink_to_lora/devices/87654321/up","qos":"2","datatype":"auto","broker":"73d52023.5f372","x":210,"y":100,"wires":[["70fef323.c1100c","1e5aec39.ed1904"]]},{"id":"70fef323.c1100c","type":"function","z":"e5216297.b6b99","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":120,"y":180,"wires":[["25818b30.58eb14","4616045.f5a82fc","f5a9047c.311c48"]]},{"id":"25818b30.58eb14","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":400,"wires":[]},{"id":"39dfcae.c1be236","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":260,"wires":[]},{"id":"4616045.f5a82fc","type":"function","z":"e5216297.b6b99","name":"Leakage breaker status","func":"var a = msg.payload;\nmsg.payload=a.breaker_status;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["39dfcae.c1be236","1d30199e.0db216"]]},{"id":"2a7d9c5b.d788f4","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"6133b716.07cbd8","x":840,"y":160,"wires":[]},{"id":"1e5aec39.ed1904","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":60,"wires":[]},{"id":"1d30199e.0db216","type":"function","z":"e5216297.b6b99","name":"3=ON 2=OFF","func":"var a=msg.payload;\nif (a==3)\n{msg.payload=1}\nelse if (a==2)\n{msg.payload=0}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["2a7d9c5b.d788f4","73e5260a.c22f58"]]},{"id":"73e5260a.c22f58","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":260,"wires":[]},{"id":"17ed7a1f.50f886","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":420,"wires":[]},{"id":"f5a9047c.311c48","type":"function","z":"e5216297.b6b99","name":"Remote breaker status","func":"var a = msg.payload;\nmsg.payload=a.remote_status;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["17ed7a1f.50f886","bb5cac4e.c731b"]]},{"id":"69b4a118.77a83","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"","retain":"","broker":"6133b716.07cbd8","x":870,"y":320,"wires":[]},{"id":"bb5cac4e.c731b","type":"function","z":"e5216297.b6b99","name":"3=ON 2=OFF","func":"var a=msg.payload;\nif (a==3)\n{msg.payload=1}\nelse if (a==2)\n{msg.payload=0}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["69b4a118.77a83","ca939831.2d64c8"]]},{"id":"ca939831.2d64c8","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"28a8a235.87880e","type":"mqtt out","z":"e5216297.b6b99","name":"","topic":"smartlink_to_lora/devices/87654321/down","qos":"","retain":"","broker":"73d52023.5f372","x":1180,"y":580,"wires":[]},{"id":"24164d53.93c282","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["28a8a235.87880e"]]},{"id":"3746bfb2.f8d5f","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":580,"wires":[["24164d53.93c282"]]},{"id":"da4504a2.2d1ad8","type":"inject","z":"e5216297.b6b99","name":"","topic":"","payload":"hola","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":580,"wires":[["3746bfb2.f8d5f"]]},{"id":"dbf2a241.9c335","type":"function","z":"e5216297.b6b99","name":"AF?03?01?06?01?06?37?79?00?01?00    ","func":"var b = new Buffer(11);\nb=[0xAF,0x03,0x01,0x06,0x01,0x06,0x37,0x79,0x00,0x01,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["f3173cac.e5a1f","abae706.cfe1f9"]]},{"id":"3e74bb1d.7dc654","type":"inject","z":"e5216297.b6b99","name":"Open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":680,"wires":[["dbf2a241.9c335"]]},{"id":"8c3d7db.82b4b8","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":680,"wires":[]},{"id":"f3173cac.e5a1f","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["ddaf4183.a730a","683f8446.b2465c"]]},{"id":"ddaf4183.a730a","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":700,"wires":[["8c3d7db.82b4b8","28a8a235.87880e"]]},{"id":"abae706.cfe1f9","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":640,"wires":[]},{"id":"683f8446.b2465c","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":760,"wires":[]},{"id":"b7239e4.19d756","type":"function","z":"e5216297.b6b99","name":"AF?03?01?06?01?06?37?79?00?02?00 ","func":"var b = new Buffer(11);\n//b[0]=0xAF;\n//b[1]=3;\nb=[0xAF,0x03,0x01,0x06,0x01,0x06,0x37,0x79,0x00,0x02,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":800,"wires":[["d01df194.396e3","82690894.a697a8"]]},{"id":"60c9b4b7.a9377c","type":"inject","z":"e5216297.b6b99","name":"Close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":840,"wires":[["b7239e4.19d756"]]},{"id":"7ad08e23.5b9cd","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":840,"wires":[]},{"id":"d01df194.396e3","type":"function","z":"e5216297.b6b99","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":840,"wires":[["18601d66.420ee3","3f193b4a.e1adf4"]]},{"id":"18601d66.420ee3","type":"function","z":"e5216297.b6b99","name":"{\"payload_raw\":msg.payload}","func":"msg.payload = {\"payload_raw\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":840,"wires":[["7ad08e23.5b9cd","28a8a235.87880e"]]},{"id":"82690894.a697a8","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":800,"wires":[]},{"id":"3f193b4a.e1adf4","type":"debug","z":"e5216297.b6b99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":920,"wires":[]},{"id":"75d215d4.b7479c","type":"comment","z":"e5216297.b6b99","name":"SCHNEIDER SMARTLINK REMOTE CONTROL","info":"","x":240,"y":500,"wires":[]},{"id":"804ce3d0.5496","type":"comment","z":"e5216297.b6b99","name":"SCHNEIDER SMARTLINK REMOTE MONITOR","info":"","x":220,"y":40,"wires":[]},{"id":"fe1df8af.74d398","type":"mqtt in","z":"e5216297.b6b99","name":"","topic":"reconectadora","qos":"2","datatype":"auto","broker":"6133b716.07cbd8","x":90,"y":760,"wires":[["7dee1da4.3cfe64","c9bf650f.6e67d8"]]},{"id":"7dee1da4.3cfe64","type":"debug","z":"e5216297.b6b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":900,"wires":[]},{"id":"c9bf650f.6e67d8","type":"switch","z":"e5216297.b6b99","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":760,"wires":[["dbf2a241.9c335"],["b7239e4.19d756"]]},{"id":"73d52023.5f372","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6133b716.07cbd8","type":"mqtt-broker","z":"e5216297.b6b99","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]