smartlink to lora v3 flow breaker status.txt
[{"id":"ab8f5263.db996","type":"mqtt in","z":"dd7fef53.bb6b5","name":"","topic":"v3/smartlinkto-lora@ttn/devices/smartlink/up","qos":"2","datatype":"auto","broker":"6c9641ff.f79d2","x":250,"y":240,"wires":[["bc3fff7f.76721","345a0e02.315632"]]},{"id":"ea98948d.5b6a58","type":"debug","z":"dd7fef53.bb6b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"bc3fff7f.76721","type":"function","z":"dd7fef53.bb6b5","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["75688068.ed041","6d44b9a.2570348"]]},{"id":"6d44b9a.2570348","type":"function","z":"dd7fef53.bb6b5","name":"breaker_status","func":"var a = msg.payload;\nmsg.payload=a.breaker_status;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":240,"wires":[["ea98948d.5b6a58"]]},{"id":"75688068.ed041","type":"debug","z":"dd7fef53.bb6b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":180,"wires":[]},{"id":"345a0e02.315632","type":"debug","z":"dd7fef53.bb6b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"6c9641ff.f79d2","type":"mqtt-broker","z":"dd7fef53.bb6b5","name":"serial to lora","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]